<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body p-4">
          <!-- Your logo here -->
          

          <h2 class="text-center mb-4">Sign Up Users/Bakers</h2>

          <%= form_for([:admin, @user]) do |f| %>
            <div class="mb-3">
              <%= f.text_field :name, class: 'form-control', placeholder: 'Enter your name' %>
            </div>

            <div class="mb-3">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Enter your email address' %>
            </div>

            <div class="d-grid">
              <%= f.submit 'SignUp', class: 'btn btn-primary btn-lg' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>